<%= form_for @cliente, :html => { :class => " cliente" } do |f| %>

    <% if @cliente.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @cliente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row">
      <div class = "col-md-8 col-md-offset-2">
        <!-- Panel - Dados para Cadastro do Cliente -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Dados para Cadastro do Cliente</strong></h3>
          </div>
          <div class="panel-body">
            <%= render :partial => 'pessoas/fields', :locals => { :f => f, :@pessoa => @cliente} %>
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.label :telefone, "Telefone", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :telefone, :class => 'form-control telefone' %>
                </div>
                <%= error_span(@cliente[:telefone]) %>
              </div>
            </div>
          </div>
        </div>
        <!-- Panel - Endereço -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Endereço</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.label :cep, "CEP", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cep, :class =>'form-control cep' %>
                </div>
                <%= error_span(@cliente[:cep]) %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :estado, "Estado", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :estado, :class => "form-control", :maxlength => 2 %>
                </div>
                <%= error_span(@cliente[:estado]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.label :cidade, "Cidade", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :cidade, :class => "form-control" %>
                </div>
                <%= error_span(@cliente[:cidade]) %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :bairro, "Bairro", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :bairro, :class => "form-control" %>
                </div>
                <%= error_span(@cliente[:bairro]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-12">
                <%= f.label :endereco, "Endereço", :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :endereco, :class => "form-control" %>
                </div>
                <%= error_span(@cliente[:endereco]) %>
              </div>
            </div><!-- /row -->
          </div>
        </div>
        <!-- Painel - Triagem -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Triagem</strong></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-md-12">
                <%= f.label :estado_civil_id, "Estado Civil", :class => 'control-label' %>
                <div class="controls">
                  <%= f.select :estado_civil_id, EstadoCivil.all.collect {|civil_status| [civil_status.description.capitalize, civil_status.id]}, {}, {:class => 'form-control'} %>
                </div>
                <%= error_span(@cliente[:estado_civil_id]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-12">
                <strong><%= f.label :tem_filhos, "Filhos", :class => 'control-label' %></strong>
                <div class="controls">
                  <%= f.radio_button :tem_filhos, "True"%>
                  <%= f.label :filhos_sim, "Sim" %>
                  <%= f.radio_button :tem_filhos, "False", :checked => true%>
                  <%= f.label :filhos_nao, "Não" %>
                </div>
                <%= error_span(@cliente[:tem_filhos]) %>
              </div>
            </div><!-- /row -->
            <div id="qtd_filhos">
              <div class="row">
                <div class="form-group col-md-6 col-sm-6">
                  <%= f.label :menores_moram_quantidades, "Quantos menores moram com o declarante?", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.number_field :menores_moram_quantidades, :class => 'form-control', :min => 0 %>
                  </div>
                  <%= error_span(@cliente[:menores_moram_quantidades]) %>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <%= f.label :menores_nao_moram_quantidades, "Quantos menores não moram com o declarante?", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.number_field :menores_nao_moram_quantidades, :class => 'form-control', :min => 0 %>
                  </div>
                  <%= error_span(@cliente[:menores_nao_moram_quantidades]) %>
                </div>
              </div><!-- /row -->
              <div class="row">
                <div class="form-group col-md-6 col-sm-6">
                  <%= f.label :maiores_moram_quantidades, "Quantos maiores moram com o declarante?", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.number_field :maiores_moram_quantidades, :class => 'form-control', :min => 0 %>
                  </div>
                  <%= error_span(@cliente[:maiores_moram_quantidades]) %>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <%= f.label :maiores_nao_moram_quantidades, "Quantos maiores não moram com o declarante?", :class => 'control-label' %>
                  <div class="controls">
                    <%= f.number_field :maiores_nao_moram_quantidades, :class => 'form-control', :min => 0 %>
                  </div>
                  <%= error_span(@cliente[:maiores_nao_moram_quantidades]) %>
                </div>
              </div><!-- /row -->
            </div><!-- id="qtd_filhos" -->
          </div>
        </div>
        <!-- Dados Profissionais -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Dados Profissionais</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-md-8 col-sm-8">
                <%= f.label :profissão, :class => 'control-label' %>
                <div class="controls">
                  <%= f.text_field :profissao_nome, :class => 'form-control' %>
                </div>
                <%= error_span(@cliente[:profissao_nome]) %>
              </div>
              <div class="form-group col-md-4 col-sm-4">
                <%= f.label :faz_bicos, "Faz bico?", :class => 'control-label' %>
                <%= f.check_box :faz_bicos, :class => 'form-control' %>
                <%= error_span(@cliente[:faz_bicos]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-6 col-sm-6">
                <%= f.label :categoria, "Complementação", :class => 'control-label' %>
                <div class="controls">
                  <%= f.select :profissao_type_id, ProfissaoType.all.collect {|profession| [profession.description.capitalize, profession.id]}, {}, {:class => 'form-control'} %>
                </div>
                <%= error_span(@cliente[:profissao_type_id]) %>
              </div>
              <div class="form-group col-md-6 col-sm-6">
                <%= f.label :salario, "Salário", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :salario, :class => 'form-control moeda' %>
                </div>
                <%= error_span(@cliente[:salario]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-4 col-sm-4">
                <%= f.label :renda_total, "Renda Familiar Média", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :familia_renda, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:familia_renda]) %>
              </div>
              <div class="form-group col-md-4 col-sm-4">
                <%= f.label :contribuintes_quantidade, "Quantos Contribuem?", :class => 'control-label' %>
                <div class="controls">
                  <%= f.number_field :contribuintes_quantidade, :class => 'form-control', :min => 0 %>
                </div>
                <%= error_span(@cliente[:contribuintes_quantidade]) %>
              </div>
              <div class="form-group col-md-4 col-sm-4">
                <%= f.label :quantidade_total_de_pessoas, :class => 'control-label' %>
                <div class="controls">
                  <%= f.number_field :familia_quantidade, :class => 'form-control', :min => 0 %>
                </div>
                <%= error_span(@cliente[:familia_quantidade]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.label :moradia_type_id, "Moradia", :class => 'control-label' %>
                <div class="controls">
                  <%= f.select :moradia_type_id, MoradiaType.all.collect {|desc| [desc.description.capitalize, desc.id]}, {}, {:class => 'form-control'} %>
                </div>
                <%= error_span(@cliente[:moradia_type_id]) %>
              </div><!-- /row -->
            </div>
          </div>
        </div>
        <!-- Triagem Complementar -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Triagem Complementar (Renda familiar acima de 3 salários mínimos)</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-md-4">
                <%= f.label :alimentacao_despesa, "Alimentação", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :alimentacao_despesa, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:alimentacao_despesa]) %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :saude, "Saúde", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :saude, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:saude]) %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :aluguel, "Aluguel", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :aluguel, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:aluguel]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-4">
                <%= f.label :condominio, "Condomínio", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :condominio, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:condominio]) %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :agua, "Água", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :agua, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:agua]) %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :luz, "Luz", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :luz, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:luz]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-4">
                <%= f.label :gas, "Gás", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :gas, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:gas]) %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :telefone, "Telefone", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :telefone, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:telefone]) %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :transporte, "Transporte", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :transporte, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:transporte]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-4">
                <%= f.label :financiamentos, "Financiamentos", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :financiamentos, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:financiamentos]) %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :total_despesas_fixas, "Valor total das Despesas Fixas", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :total_despesas_fixas, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:total_despesas_fixas]) %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :valor_liquido_rendimento_mensal, "Valor líquido do Rendimento Mensal", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :valor_liquido_rendimento_mensal, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:valor_liquido_rendimento_mensal]) %>
              </div>
            </div><!-- /row -->
            <div class="row">
              <div class="form-group col-md-4">
                <%= f.label :obrigacoes_judiciais, "Obrigações Judiciais (ex: pensão alimentícia)", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :obrigacoes_judiciais, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:obrigacoes_judiciais]) %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label :iptu, "Imposto Predial Territorial Urbano (IPTU)", :class => 'control-label' %>
                <div class="input-group">
                  <div class="input-group-addon">R$</div>
                  <%= f.text_field :iptu, :class => 'form-control moeda', :min => 0 %>
                </div>
                <%= error_span(@cliente[:iptu]) %>
              </div>
            </div><!-- /row -->
          </div>
        </div><!-- /panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Relato inicial</h3>
          </div>
          <div class="panel-body row">
            <div class="form-group col-md-12 col-sm-12">
              <div class="controls">
                <%= f.fields_for @relato do |r| %>
                  <%= r.text_area :description,  {:class => 'form-control', :rows => 7 } %>
                <% end %>
              </div>
              <%= error_span(@cliente[:relato]) %>
            </div>
            <div class="form-group col-md-12 col-sm-12">
              <%= f.label :categoria, :class => 'control-label' %>
              <div class="controls">
                <%= f.fields_for @atendimento do |c| %>
                  <%= c.select :status, options_for_select([['Aprovado', true], ['Não aprovado', false]]), {:include_blank => true}, {:class => 'form-control'} %>
                  <%# <%= render 'question_fields', f: builder %>
                <% end %>
              </div>
              <%= error_span(@atendimento[:status]) %>
            </div>
          </div>
        </div>
        <div class="text-right">
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    clientes_path, :class => 'btn btn-default' %>
          <%= f.submit nil, :class => 'btn btn-primary' %>
        </div>
        <hr>
      </div>
    </div>
  </div>

<% end %>
