<%- model_class = Cliente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:nome) %></th>
            <th>Data de Registro</th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @clientes.each do |cliente| %>
            <tr>
              <td><%= link_to cliente.id, cliente_path(cliente) %></td>
              <td><%= cliente.nome %></td>
              <td><%=cliente.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_cliente_path(cliente), :class => 'btn btn-default btn-xs' %>
                <%= link_to "Ver detalhes", cliente_path(cliente), :class => 'btn btn-default btn-xs'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% if can? :create, current_user %>
      <hr>
      <div class="text-right">
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_cliente_path,
                    :class => 'btn btn-primary' %>
      </div>
    <% end %>



    </div><!-- /col-md-8 -->
  </div><!-- /row -->
</div><!-- /container-fluid -->
