<%- model_class = Cliente -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Dados Pessoais</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Nome:</strong>
              <%= @cliente.nome %>
            </li>
            <li class="list-group-item">
              <strong>Nome da Mãe:</strong>
              <%= @cliente.nome_da_mae %>
            </li>
            <li class="list-group-item">
              <strong>CPF:</strong>
              <%= @cliente.cpf %>
            </li>
            <li class="list-group-item">
              <strong>RG:</strong>
              <%= @cliente.rg %>
            </li>
            <li class="list-group-item">
              <strong>Identidade de Gênero:</strong>
              <%= @cliente.identidade_de_genero %>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Dados Familiares</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Renda Familiar:</strong>
              <%= @cliente.familia_renda %>
            </li>
            <li class="list-group-item">
              <strong>Qtd. Total de Pessoas:</strong>
              <%= @cliente.familia_quantidade %>
            </li>
            <li class="list-group-item">
              <strong>Qtd. de Contribuintes:</strong>
              <%= @cliente.contribuintes_quantidade %>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Dados Profissionais</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Profissão:</strong>
              <%= @cliente.profissao_nome %>
            </li>
            <li class="list-group-item">
              <strong>Categoria:</strong>
              <%= @cliente.profissao_type_description %>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Atendimentos</h3>
        </div>
        <div class="panel-body">
          <% @cliente.atendimentos.each_with_index do |atendimento, index| %>
            <div class="list-group">
              <div class="list-group-item">
                <div class="row-content">
                  <div class="least-content"><td><%= time_ago_in_words(atendimento.created_at) %> <br> <%= waiting_progress_bar(atendimento) %></td></div>
                  <h4 class="list-group-item-heading">Atendimento #<%= index + 1%></h4>
                  <p class="list-group-item-text"><%= truncate(atendimento.initial_description, length: 20) %></p>
                  <p class="list-group-item-text">
                    <%= link_to "Ver detalhes", atendimento_path(atendimento), :class => 'btn btn-xs btn-raised btn-link'%>
                  </p>
                </div>
              </div>
              <div class="list-group-separator"></div>
            </div>
          <% end %>
          <% if @cliente.aprovado %>
            <%= link_to 'Novo atendimento', new_atendimento_path(cliente_id: @cliente.id), class: 'btn btn-md btn-info' %>
          <% else %>
            <%= link_to 'Novo atendimento', new_atendimento_path(cliente_id: @cliente.id), class: 'btn btn-md btn-info', disabled: "disabled" %>
            <span>Cliente com Perfil Socioeconômico recusado.</span>
          <% end %>
        </div>
      </div>
      <%= link_to t('.back', :default => t("helpers.links.back")),
                    clientes_path, :class => 'btn btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_cliente_path(@cliente), :class => 'btn btn-primary' %>
      <hr>
    </div>
    <!-- /col-md-8 -->
  </div>
  <!-- /row -->
</div>
<!-- /container-fluid -->
