<% if @vareiro.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@vareiro.errors.count, "error") %> prohibited this vareiro from being saved:</h2>

  <ul>
  <% @vareiro.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="field">
<%= f.label :forum %><br>
<%= f.text_field :forum %>
</div>
<div class="actions">
<%= f.submit %>
</div>
