<%= form_for @vareiro, :html => { :class => "form-horizontal vareiro" } do |f| %>

    <% if @vareiro.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@vareiro.errors.count, "error") %> prohibited this vareiro from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @vareiro.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render :partial => 'pessoas/fields', :locals => { :f => f, :@pessoa => @vareiro} %>
  <%= render :partial => 'membros/fields', :locals => { :f => f, :@membro => @vareiro } %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <%= f.text_field :user_id , {:hidden => true, :value => @user_id} %>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            vareiros_path, :class => 'btn btn-default' %>

<% end %>
