<p id="notice"><%= notice %></p>

<h1>Listing Vareiros</h1>

<table>
  <thead>
    <tr>
      <th>Forum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vareiros.each do |vareiro| %>
      <tr>
        <td><%= vareiro.forum %></td>
        <td><%= link_to 'Show', vareiro %></td>
        <td><%= link_to 'Edit', edit_vareiro_path(vareiro) %></td>
        <td><%= link_to 'Destroy', vareiro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vareiro', new_vareiro_path %>
