<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Dados do Cliente</h3>
    </div>
    <div class="panel-body">
      <div class='col-md-6'>
        <table class="table table-hover">
          <tr>
            <td colspan="2">
              <strong>Dados Pessoais</strong>
            </td>
          </tr>
          <tr>
            <td>Nome</td>
            <td><%=@atendimento.cliente.nome%></td>
          </tr>
          <tr>
            <td>Nome da mae</td>
            <td><%=@atendimento.cliente.nome_da_mae%></td>
          </tr>
          <tr>
            <td>CPF</td>
            <td><%=@atendimento.cliente.cpf%></td>
          </tr>
          <tr>
            <td>RG</td>
            <td><%=@atendimento.cliente.rg%></td>
          </tr>
          <tr>
            <td>Cor</td>
            <td><%=@atendimento.cliente.cor%></td>
          </tr>
          <tr>
            <td>Identidade de gênero</td>
            <td><%=@atendimento.cliente.identidade_de_genero%></td>
          </tr>
          <tr>
            <td>Estado civil</td>
            <td><%=@atendimento.cliente.estado_civil_description%></td>
          </tr>
          <tr>
            <td>Tipo de moradia</td>
            <td><%=@atendimento.cliente.moradia_description%></td>
          </tr>
        </table>
      </div>
      <div class='col-md-6'>
        <table class="table table-hover">
          <tr>
            <td colspan="2">
              <strong>Dados Familiares</strong>
            </td>
          </tr>
          <tr>
            <td>Renda total</td>
            <td><%=@atendimento.cliente.familia_renda%></td>
          </tr>
          <tr>
            <td>Quantidade total de pessoas</td>
            <td><%=@atendimento.cliente.familia_quantidade%></td>
          </tr>
          <tr>
            <td>Quantidade de contribuites</td>
            <td><%=@atendimento.cliente.contribuintes_quantidade%></td>
          </tr>
        </table>
        <table class="table table-hover">
          <tr>
            <td colspan="2">
              <strong>Dados Profissionais</strong>
            </td>
          </tr>
          <tr>
            <td>Profissão</td>
            <td><%=@atendimento.cliente.profissao_nome%></td>
          </tr>
          <tr>
            <td>Categoria</td>
            <td><%=@atendimento.cliente.profissao_type_description%></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
