<%= form_for @atendimento, :html => { :class => "form-horizontal atendimento" } do |f| %>

<% if @atendimento.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Foram encontrados alguns erros:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @atendimento.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="container">
  <%= f.hidden_field :cliente_id %>
  <%= render :partial => 'cliente_data' %>
  <%= render :partial => 'initial_description',  :locals => { :f => f, :atendimento => @atendimento } %>
  <%= render :partial => 'detailed_description', :locals => { :f => f, :atendimento => @atendimento } %>

  <div class='row'>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Categoria</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div class="form-group">
            <p class="text-info">
              O relato deve ser analisado?
            </p>
            <%= f.label :status, 'Categoria', :class => 'control-label' %>
            <div class="controls">
              <%= f.radio_button :status, true %> Aprovado
              <%= f.radio_button :status, false %> Não aprovado
            </div>
            <%= error_span(@atendimento[:status]) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Tipo de Atendimento</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div class="form-group">
            <p class="text-info">
              O tipo de atendimento define o que deve ser feito a partir de agora. <br/>
              Foi apenas uma orientação?<br/>
              O caso pode ser resolvido através de uma mediação?<br/>
              É preciso abrir uma ação?
            </p>
            <% if current_user.role? :calouro %> <!-- TODO usar can can-->
              <p class="text-danger">Você não tem permissão para classificar o atendimento!</p>
            <% elsif @atendimento.initial_description.present? %>
              <%= f.label :tipo_de_atendimento, :class => 'control-label' %>
              <div class="controls">
                <%= f.select :atendimento_type_id,
                           AtendimentoType.all.collect {|atendimento_type| [atendimento_type.description.capitalize, atendimento_type.id]},
                           {:include_blank => true}, {:class => 'form-control'} %>

                <label for='justification' class='control-label'>Justifique:</label>
                <%= f.text_area :justification, :class => 'form-control', size: "10x10",
                 placeholder: 'justificativa...',
                 disabled: current_user.role?(:calouro) %>
                 <%= error_span(@atendimento[:justification]) %>
              </div>
              <%= error_span(@atendimento[:justification]) %>
            <% else %>
              <p class="text-warning">Você deve preencher o relato inicial primeiro!</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="control-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              atendimentos_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>

<% end %>
