<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Lista de Espera</h1>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group well">
        <% if @atendimentos.each_with_index do |atendimento, index| %>
          <li class="list-group-item">
            <div class="row">
              <div class='col-md-3'>
                [<%= atendimento.created_at.strftime("%H:%M") %>] <%= time_ago_in_words(atendimento.created_at) %> <br>
                <%= waiting_progress_bar(atendimento) %>
              </div>
              <div class='col-md-7 text-center'>
                <strong><%= atendimento.cliente.nome%></strong>
                <span class="badge"><%= atendimento.type_description %></span>
              </div>
              <div class='col-md-2'>
                <span><%= link_to "Ver", atendimento_path(atendimento), :class => 'btn btn-default btn-xs' %></span>
                <span><%= link_to 'Escolher', select_case_path(atendimento.id), :class => "btn-info btn-xs", :id => 'btn-escolher-' + index.to_s %></span>
              </div>
            </div>
            <div class="row">
              <div class='col-md-12'>
                <h4>Relato inicial</h4>
                <p><%= simple_format(truncate(atendimento.initial_description, length: 50)) %></p>
                <hr>
              </div>
            </div>
          </li>
        <% end.empty? %>
          <li class="list-group-item">Nenhum atendimento em aberto.</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
