<%- model_class = Atendimento -%>

<div class="container">
  <h1>Meus Atendimentos</h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Cliente</th>
            <th>Data de Criação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @atendimentos.each do |atendimento| %>
            <tr>
              <td>#<%= atendimento.id %></td>
              <td><%= atendimento.status_name %></td>
              <td><%= atendimento.cliente.nome%></td>
              <td><%= atendimento.created_at.strftime("%d/%m/%Y")  %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_atendimento_path(atendimento), :class => 'btn btn-default btn-xs' %>
                <%= link_to "Ver detalhes", atendimento_path(atendimento), :class => 'btn btn-default btn-xs' %>
              </td>
            </tr>
            <tr>
              <p><%= simple_format(truncate(atendimento.initial_description, length: 20)) %></p>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
