<%- model_class = Atendimento -%>
<div class="container">
  <h1>Meus Atendimentos</h1>
  <div class="row">

  <br><br><br><br><br>
  <table class = "table table-bordered table-striped col-md-12">
    <div class="row">
      <div class="col-md-10 col-sm-10">
        <div class = "col-md-2 col-sm-2 text-center"><h4><%= model_class.human_attribute_name(:id) %></h4></div>
        <div class = "col-md-2 col-sm-2 text-center"><h4><%= model_class.human_attribute_name(:status) %></h4></div>
        <div class = "col-md-4 col-sm-4 text-center"><h4><%= model_class.human_attribute_name(:cliente) %></h4></div>
        <div class = "col-md-2 col-sm-2 text-center register_time"><h4><%= model_class.human_attribute_name(:created_at) %></h4></div>
      </div>
      <div class = "col-md-2 col-sm-2 text-center"><h4><%=t '.actions', :default => t("helpers.actions") %></h4></div>
      </div>
      <div id="accordion" role="tablist" aria-multiselectable="false">
          <% @atendimentos.each do |atendimento| %>
    <tr><td>
      <div role="tab" id="heading<%= atendimento.id %>">
        <h5>
          <div class="row">
          <div data-toggle="collapse" data-parent="#accordion" href="#collapse<%= atendimento.id %>" aria-expanded="false" aria-controls="collapse<%= atendimento.id %>" style="cursor: pointer;">
            <div class="col-md-10 col-sm-10">
              <div class = "col-md-2 col-sm-2 text-center"><%= atendimento.id%></div>
              <div class = "col-md-2 col-sm-2 text-center"><%= atendimento.status%></div>
              <div id="<%=atendimento.cliente.nome.gsub(' ','_')%>" class = "col-md-4 col-sm-4 text-center"><%= atendimento.cliente.nome%></div>
              <div class = "col-md-2 col-sm-2 text-center register_time"><%= atendimento.created_at.strftime("%d/%m/%Y")  %></div>
            </div>
          </div>
              <div class = "col-md-2 col-sm-2 text-center">
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_atendimento_path(atendimento), :class => 'btn btn-default btn-xs' %>
             <%= link_to "Ver detalher", atendimento_path(atendimento), :class => 'btn btn-default btn-xs' %>
             </div>
            </div>
            </h5>
          </div>

      </div>
      <div id="collapse<%= atendimento.id %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= atendimento.id %>">
        <div class="panel-body">
          <% Relato.where(:atendimento => atendimento).each do |relato| %>
            <%= relato.description %>
            <br> <br>
          <% end %>
        </div>
      </div>
    </td></tr>
  <% end %>
  </div>
  </table>
  </div>
</div>
