<%- model_class = Atendimento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Dados do Cliente
            <%= link_to "Mais detalhes", cliente_path(@atendimento.cliente), :class => 'btn btn-default btn-xs pull-right'%>
          </h3>
        </div>
        <!-- Detalhes do Cliente -->
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Nome:</strong>
              <%= @atendimento.cliente.nome %>
            </li>
            <li class="list-group-item">
              <strong>Nome da Mãe:</strong>
              <%= @atendimento.cliente.nome_da_mae %>
            </li>
            <li class="list-group-item">
              <strong>CPF:</strong>
              <%= @atendimento.cliente.cpf %>
            </li>
            <li class="list-group-item">
              <strong>RG:</strong>
              <%= @atendimento.cliente.rg %>
            </li>
            <li class="list-group-item">
              <strong>Cor:</strong>
              <%= @atendimento.cliente.cor %>
            </li>
            <li class="list-group-item">
              <strong>Identidade de Gênero:</strong>
              <%= @atendimento.cliente.identidade_de_genero %>
            </li>
          </ul>
        </div>
      </div>
      <!-- Descrição do Atendimento -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Descrição do Atendimento
          </h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Criado em:</strong>
              <%= @atendimento.created_at.strftime("%d/%m/%Y %H:%M:%S")%>
            </li>
            <li class="list-group-item">
              <strong>Última atualização:</strong>
              <%= time_ago_in_words(@atendimento.created_at) %> atrás
            </li>
            <li class="list-group-item">
              <strong>Estagiário:</strong>
              <%= @atendimento.estagiario.nome if @atendimento.estagiario.present? %>
            </li>
            <li class="list-group-item">
              <strong>Categoria:</strong>
              <%= @atendimento.status_name %>
            </li>
            <li class="list-group-item">
              <strong>Tipo do Atendimento:</strong>
              <%= @atendimento.atendimento_type.description if @atendimento.atendimento_type.present? %>
            </li>
            <li class="list-group-item">
              <strong>Resultado:</strong>
              <%= @atendimento.atendimento_resultado.description if @atendimento.atendimento_resultado.present? %>
            </li>
            <li class="list-group-item">
              <hr>
            </li>
            <% if @atendimento.initial_description.present? %>
              <li class="list-group-item">
                <h4>Relato Inicial</h4>
                <p><%= simple_format(@atendimento.initial_description) %></p>
              </li>
            <% end %>
            <% if @atendimento.detailed_description.present? %>
              <li class="list-group-item">
                <h4>Relato Detalhado</h4>
                <p><%= simple_format(@atendimento.detailed_description) %></p>
              </li>
            <% elsif !current_user.role? :calouro %>
              <%= link_to 'Preencher Relato Detalhado', edit_atendimento_path(@atendimento), :class => 'btn btn-warning btn-md' %>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- Relatos -->
      <%= link_to t('.back', :default => t("helpers.links.back")),
                    atendimentos_path, :class => 'btn btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_atendimento_path(@atendimento), :class => 'btn btn-primary' %>
      <hr>
    </div><!-- /col-md-8-->
  </div><!-- /row -->
</div><!-- /container-fluid -->
