<% if @pessoa.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @pessoa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="form-group col-md-12">
      <%= f.label :nome_completo, "Nome Completo", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :nome, :class => 'form-control' %>
      </div>
      <%= error_span(@pessoa[:nome]) %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <%= f.label :nome_da_mae, "Nome da Mãe", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome_da_mae, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:nome_da_mae]) %>
  </div>
</div>
<!-- CPF / RG -->
<div class="row">
  <div class="form-group col-md-6 col-sm-6">
    <%= f.label :cpf, "CPF", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cpf, :class => 'form-control cpf', "ng-blur" => "verifica();", "ng-model" => "cpf" %>
    </div>
    <%= error_span(@pessoa[:cpf]) %>
  </div>
  <div class="form-group col-md-6 col-sm-6">
    <%= f.label :rg, "RG", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rg, :class => 'form-control rg' %>
    </div>
    <%= error_span(@pessoa[:rg]) %>
  </div>
</div>
<!-- Identidade de Gênero -->
<div class="row">
  <div class="form-group col-md-6 col-sm-6">
    <%= f.label :identidade_de_genero, "Identidade de Gênero", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :identidade_de_genero, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:identidade_de_genero]) %>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="MyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cliente já cadastrado!</h4>
      </div>
      <div class="modal-body">
        <p>Notamos que este CPF já está em nossa base. Para proceder você pode atualizar o perfil socioeconomico ou ir direto para a página com os detalhes deste cliente!</p>
      </div>
      <div class="modal-footer">
        <% url = request.base_url + "/clientes/" %>
        <a class="btn btn-default" id="showCliente" role="button" href=<%= url %>>Detalhe do Cliente</a>
        <a class="btn btn-primary" id="editCliente" role="button" href=<%= url %>>Editar Perfil Socioeconômico</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
