<div class="container-fluid">
  <% if @pessoa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pessoa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-6">
        <%= f.label :nome, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :nome, :class => 'form-control' %>
        </div>
        <%= error_span(@pessoa[:nome]) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :nome_da_mae, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :nome_da_mae, :class => 'form-control' %>
      </div>
      <%= error_span(@pessoa[:nome_da_mae]) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3 col-sm-6">
      <%= f.label :cpf, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cpf, :class => 'form-control' %>
      </div>
      <%= error_span(@pessoa[:cpf]) %>
    </div>
    <div class="form-group col-md-3 col-sm-6">
      <%= f.label :rg, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :rg, :class => 'form-control' %>
      </div>
      <%= error_span(@pessoa[:rg]) %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3 col-sm-6">
      <%= f.label :cor, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cor, :class => 'form-control' %>
      </div>
      <%= error_span(@pessoa[:cor]) %>
    </div>
    <div class="form-group col-md-3 col-sm-6">
      <%= f.label :identidade_de_genero, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :identidade_de_genero, :class => 'form-control' %>
      </div>
      <%= error_span(@pessoa[:identidade_de_genero]) %>
    </div>
    </div>
</div>