<%= form_for @pessoa, :html => { :class => "form-horizontal pessoa" } do |f| %>

    <% if @pessoa.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pessoa.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:nome]) %>
  </div>
  <div class="control-group">
    <%= f.label :cpf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cpf, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:cpf]) %>
  </div>
  <div class="control-group">
    <%= f.label :nome_da_mae, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome_da_mae, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:nome_da_mae]) %>
  </div>
  <div class="control-group">
    <%= f.label :rg, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rg, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:rg]) %>
  </div>
  <div class="control-group">
    <%= f.label :cor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cor, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:cor]) %>
  </div>
  <div class="control-group">
    <%= f.label :identidade_de_genero, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :identidade_de_genero, :class => 'form-control' %>
    </div>
    <%= error_span(@pessoa[:identidade_de_genero]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            pessoas_path, :class => 'btn btn-default' %>

<% end %>
