<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @relato.description %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @relato.caso %>
</p>

<%= link_to 'Edit', edit_relato_path(@relato) %> |
<%= link_to 'Back', relatos_path %>
