<%= form_for @estagiario, :html => { :class => "estagiario" } do |f| %>

  <div class="container-fluid">

    <% if @estagiario.errors.any? %>
      <div class="row">
        <div class="col-md-2"></div>
        <div class = "col-md-8">

          <div class="alert alert-danger" role="alert" >
            <strong><%= pluralize(@estagiario.errors.count, "error") %> prohibited this estagiario from being saved:</strong>
            <ul>
              <% @estagiario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
          </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Dados Pessoais</h3>
          </div>
          <div class="panel-body">
            <%= render :partial => 'pessoas/fields', :locals => { :f => f, :@pessoa => @estagiario} %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Informações Adicionais</h3>
          </div>
          <div class="panel-body">
            <%= render :partial => 'fields', :locals => { :f => f } %>
          </div>
          <div class="panel-body">
            <%= render :partial => 'membros/fields', :locals => { :f => f, :@membro => @estagiario } %>
          </div>
        </div>

        <div class="text-right">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            estagiarios_path, :class => 'btn btn-default' %>
        </div>
        <hr>

      </div>
    </div><!-- /row -->
    
  </div>

  <%= f.text_field :user_id , {:hidden => true, :value => @user_id} %>

<% end %>
<script type="text/javascript">
$(document).ready(function(){
  $("div#error_expl").hide();
});
</script>
