<%- model_class = Estagiario -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Estagiários" %></h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:nome) %></th>
            <th>Último acesso</th>
            <th>Ativo</th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @estagiarios.each do |estagiario| %>
            <tr>
              <td style="vertical-align:middle;height: 100%;"><%= link_to estagiario.nome, estagiario_path(estagiario) %></td>
              <td style="vertical-align:middle;height: 100%;"><%= estagiario.membro.user.last_sign_in_at != nil ? estagiario.membro.user.last_sign_in_at.strftime("%d/%m/%Y - %H:%M") : "Nunca acessou" %></td>
              <td style="vertical-align:middle;height: 100%;"><%= estagiario.membro.user.active? ? "Ativo" : "Desativado" %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_estagiario_path(estagiario), :class => 'btn btn-default btn-xs' %>
                <%= link_to "Ver detalhes", estagiario_path(estagiario), :class => 'btn btn-default btn-xs'%>
                <%= link_to estagiario.membro.user.active? ? "Desativar" : "Ativar", active_estagiario_path(estagiario), :class => 'btn btn-default btn-xs', :data => {:confirm => 'Você tem certeza?'}%>
                <% if !estagiario.is_diretor %>
                  <%= link_to "Tornar Diretor", add_director_path(estagiario), :class => 'btn btn-default btn-xs', :data => {:confirm => 'Você tem certeza?'}%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <div class="text-right">
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_user_registration_path,
                    :class => 'btn btn-primary' %>
      </div>
    </div><!-- /col-md-8 -->
  </div><!-- /row -->
</div><!-- /container-fluid -->
