<%- model_class = Estagiario -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Diretores" %></h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:nome) %></th>
            <th>Último acesso</th>
            <th>Ativo</th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @diretores.each do |diretor| %>
            <tr>
              <td><%= link_to diretor.id, estagiario_path(diretor) %></td>
              <td><%= diretor.membro.nome %></td>
              <td><%= diretor.membro.user.last_sign_in_at != nil ? diretor.membro.user.last_sign_in_at.strftime("%d/%m/%Y - %H:%M") : "Nunca acessou" %></td>
              <td><%= diretor.membro.user.active? ? "Ativo" : "Desativado" %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            estagiario_path(diretor), :class => 'btn btn-default btn-xs' %>
                <%= link_to "Ver detalhes", estagiario_path(diretor), :class => 'btn btn-default btn-xs'%>
                <%= link_to "Remover da Diretoria", remove_director_path(diretor), :class => 'btn btn-default btn-xs', :data => {:confirm => 'Você tem certeza?'}%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <div class="text-right">
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_user_registration_path,
                    :class => 'btn btn-primary' %>
      </div>
    </div><!-- /col-md-8 -->
  </div><!-- /row -->
</div><!-- /container-fluid -->
