<%- model_class = Estagiario -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Perfil" %></h1>
</div>

<div class= "container-fluid">
	<div class="row">
  		<div class="col-md-2"></div>
  		<div class = "col-md-8">
  			<div class="panel panel-default">
      		<div class="panel-heading">
        		<h3 class="panel-title"><%= @estagiario.pessoa.nome %></h3>
      		</div>
        	<div class="panel-body">
        		<div class="row">
        			<div class="col-md-4">
  	            <div class="thumbnail">
  	            	<%= image_tag("perfil.jpg", size: "150x150", alt: "foto do perfil", class: "img-circle") %>
  	              <div class="caption ">
  	                <p class="lead" style="font-size:20px; text-align:center;">
  	                  <%= model_class.model_name.human.titleize %>
  	                </p>
  	              </div>
                </div>
              </div>
      				<div class="col-md-8">
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>Usuário:</strong>
                    <%= @estagiario.user.username %>
                  </li>
                  <li class="list-group-item">
                    <strong>Email:</strong>
                    <%= @estagiario.user.email %>
                  </li>
                  <li class="list-group-item">
                    <strong>Nome da Mãe:</strong>
                    <%= @estagiario.pessoa.nome_da_mae %>
                  </li>
                  <li class="list-group-item">
                    <strong>CPF:</strong>
                    <%= @estagiario.pessoa.cpf %>
                  </li>
                  <li class="list-group-item">
                    <strong>RG:</strong>
                    <%= @estagiario.pessoa.rg %>
                  </li>
                  <li class="list-group-item">
                    <strong>Cor:</strong>
                    <%= @estagiario.pessoa.cor %>
                  </li>
                  <li class="list-group-item">
                    <strong>Identidade de Gênero:</strong>
                    <%= @estagiario.pessoa.identidade_de_genero %>
                  </li>
                  <li class="list-group-item">
                    <strong>Ano da Faculdade:</strong>
                    <%= @estagiario.ano_faculdade %>
                  </li>
                  <li class="list-group-item">
                    <strong>Especialidades:</strong>
                    <% @estagiario.especialidades.each do |esp| %>
                    <%= esp.description%>;
                    <%end%>
                  </li>
                </ul>
              </div><!-- /col-md-8 -->
  		      </div><!-- /row -->
            <div class="text-right">
              <%= link_to t('.back', :default => t("helpers.links.back")), estagiarios_path, :class => 'btn btn-default'  %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_estagiario_path(@estagiario), :class => 'btn btn-default' %>
            </div>
          </div><!-- /panel-body -->
		    </div>
  	</div><!-- /row -->
</div><!-- /container-fluid -->
