<%= form_for @caso, :html => { :class => "form-horizontal caso" } do |f| %>

    <% if @caso.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@caso.errors.count, "error") %> prohibited this caso from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @caso.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
        <div class="control-group col-md-6">
          <%= f.label :categoria, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :status, options_for_select([['Aprovado', true], ['Não aprovado', false]]), {:include_blank => true}, {:class => 'form-control'} %>
          </div>
          <%= error_span(@caso[:status]) %>
        </div>
        <div class="control-group col-md-6">
          <%= f.label :tipo_de_caso, :class => 'control-label' %>
          <div class="controls">
             <%= f.select :caso_type_id, 
                           CasoType.all.collect {|caso_type| [caso_type.description.capitalize,caso_type.id]},
                           {:include_blank => true},
                           {:class => 'form-control'}
             %>
          </div>
          <%= error_span(@caso[:caso_type_id]) %>
        </div>
        <div class="control-group col-md-12">
          <%= f.label :novo_relato, :class => 'control-label' %>
          <div class="controls">
            <textarea class="form-control" rows="7" name="caso[new_relato]" id="caso_new_relato"></textarea>
          </div>
          <%= error_span(@caso[:relatos]) %>
        </div>

        <div class="control-group col-md-12">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  casos_path, :class => 'btn btn-default' %>
        </div>

        <div class="control-group col-md-12">
          <hr>
          <%= f.label :relatos_anteriores, :class => 'control-label' %>
          <div class="controls">
          <% Relato.where(:caso => @caso).each do |relato| %>
            <%= relato.description %>
            <br>
          <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-6"><%= render :partial => 'cliente_data' %></div>

    </div>

  </div> 

<% end %>
