<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <h1>Listing Casos</h1>
  <% @casos.each do |caso| %>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse<%= caso.id %>" aria-expanded="false" aria-controls="collapse<%= caso.id %>">
              <div class="row">
                <div class="col-md-6">
                  <%= caso.cliente.nome%>
                </div>
                <div class="col-md-6">
                  <%= caso.caso_type.description%>
                </div>
              </div>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <% Relato.where(:caso => caso).each do |relato| %>
              <%= relato.description %>
              <%= link_to 'Show', caso %>
              <%= link_to 'Edit', edit_caso_path(caso) %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  <% end %>

  <%= link_to 'New Caso', new_caso_path, :class => "btn btn-primary"%>
</div>
