<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Lista de Espera</h1>
  <div class="row">

  <br><br><br><br><br>
  <table class = "table table-bordered table-striped col-md-12">
      <div id="accordion" role="tablist" aria-multiselectable="false">
          <% @casos.sort{ |caso1,caso2| caso1.created_at <=> caso2.created_at }.each do |caso| %>
    <tr><td>
      <div role="tab" id="heading<%= caso.id %>">
        <h5>
          <div data-toggle="collapse" data-parent="#accordion" href="#collapse<%= caso.id %>" aria-expanded="false" aria-controls="collapse<%= caso.id %>" style="cursor: pointer;">
            <div class="row">
              <div id="<%=caso.cliente.nome.gsub(' ','_')%>" class = "col-md-8 col-sm-8"><%= caso.cliente.nome%></div>
              <div class = "col-md-2 col-sm-2 text-right register_time"><%= caso.created_at.strftime("%H:%M") %></div>
              <div class = "col-md-2 col-sm-2 text-right"><span class="badge"><%= caso.type_description %></span></div>
            </div>
          </div>
        </h5>
      </div>
      <div id="collapse<%= caso.id %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= caso.id %>">
        <div class="panel-body">
          <% Relato.where(:caso => caso).each do |relato| %>
            <%= relato.description %>
            <%= link_to 'Escolher', new_caso_path, :class => "btn-default btn-xs pull-right"%>
          <% end %>
        </div>
      </div>
    </td></tr>
  <% end %>
  </div>
  </table>
  </div>
</div>
