<%- model_class = Caso -%>
<div class="page-header">
  <h1> Meus Atendimentos </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:cliente) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @casos.each do |caso| %>
      <tr>
        <td><%= link_to caso.id, caso_path(caso) %></td>
        <td><%= caso.status ? "Aprovado" : "Não Aprovado" %></td>
        <td><%= caso.cliente.nome %></td>
        <td><%= caso.created_at.strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_caso_path(caso), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      caso_path(caso),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
