<p id="notice"><%= notice %></p>

<h1>Listing Calouros</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calouros.each do |calouro| %>
      <tr>
        <td><%= link_to 'Show', calouro %></td>
        <td><%= link_to 'Edit', edit_calouro_path(calouro) %></td>
        <td><%= link_to 'Destroy', calouro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calouro', new_calouro_path %>
